@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.ant-menu .ant-menu-item-selected {
  background: #1e2427;
  border-radius: inherit;
}

.ant-btn-default {
  background-color: rgb(175, 175, 175);
}

.ant-menu .ant-menu-submenu-title .ant-menu-item-icon{
  /* color: red; */
  text-transform: none;
}

/* .ant-layout-header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
} */


