.btn-manage {
    color: white;
    background-color: #979a9c;
    border-radius: 17px;
    margin-bottom: 15px
};
.custom-ant-table .ant-table-thead > tr > th {
    background-color: #ff00ff; /* เปลี่ยนเป็นสีชมพูตามที่ต้องการ */
    color: white;
    font-weight: 600;
  }
  
